@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&display=swap");

.about-img {
  height: clamp(24rem, 29.5082vw + 9.83607rem, 37.5rem);
}

.about-section p {
  font-weight: 500;
}
