@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&display=swap");

.about-img {
  height: clamp(24rem, 29.5082vw + 9.83607rem, 37.5rem);
}

.about-section p {
  font-weight: 500;
}

/* host  */
.host-nav a {
  @apply text-lg;
}
.info-container p {
  @apply mb-5 last:mb-0;
}

.info-container span {
  @apply font-bold;
}

/* vans  */
.van-type {
  /* height: 34px; */
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #ffead0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}
